body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(5, 94, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.user-input {
    height: 150px;
    width: 400px;
    border: 6px solid black;
    border-radius: 15px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.main-content {
    height: 300px;
    width: 800px;
    border: 6px solid black;
    border-radius: 15px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 100px;
    gap: 20px;
}

.header {
    width: 100%;
    background-color: rgb(0, 217, 255);
    display: flex;
}

.information {
    display: flex;
}

.temp-display {
    height: 100%;
    width: 100px;
    background-color: rgb(0, 217, 255);
}