body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

h1 {
    margin: 0;
    font-size: 100px;
    color: white;
}

img {
    margin: 0;
    padding: 0;
}

header {
    height: 20vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    gap: 70px;
}

nav button {
    height: 50px;
    width: 100px;
    font-size: 30px;
    color: white;
    background-color: black;
}

.content {
    background-color: rgb(63, 63, 63);
}

/* Home Page */
.image-content img {
    height: 900px;
    width: 100vw;
}

.description {
    height: 300px;
    width: 100vw;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Menu Page */
#menuContent,
#aboutContent {
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuTitle,
.aboutTitle {
    font-size: 70px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.food {
    height: 1700px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.foodItem {
    height: 300px;
    width: 700px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 20px;
}

.foodName,
.foodDescription {
    color: white;
}

.foodName {
    font-size: 30px;
}

.foodDescription {
    font-size: 24px;
}

/* About Page */
.titleOne,
.titleTwo,
.titleThree,
.titleFour {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 70px;
}

.textOne,
.textTwo,
.textThree,
.textFour {
    width: 700px;
    font-size: 24px;
    color: white;
}

.textFour {
    margin-bottom: 100px;
}