body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(5, 94, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.header,
#description,
.location,
.temp-display,
.tempMain {
    border: 2px solid red;
}

.user-input {
    height: 150px;
    width: 400px;
    border: 6px solid black;
    border-radius: 15px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.main-content {
    height: 300px;
    width: 800px;
    border: 6px solid black;
    border-radius: 15px;
    background-color: grey;
    display: grid;
    grid-template-rows: 2fr 5fr;
    padding: 10px;
}

.header,
.temp-display,
.stats {
    border-radius: 15px;
}

.header {
    background-color: rgb(0, 217, 255);
    display: flex;
    align-items: center;
}

.location {
    font-size: 50px;
}

#description {
    margin-left: 350px;
}

.information {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

/* Temperature Display */
.temp-display {
    background-color: rgb(0, 217, 255);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.tempMain {
    width: 100%;
    padding-left: 30px;
}

#temperature {
    font-size: 120px;
}

.tempBtn {
    display: flex;
    align-items: flex-end;
}

#tempTypeBtn {
    margin: 10px;
    margin-bottom: 25px;
    color: white;
    background-color: blue;
    border-radius: 15px;
}

#tempTypeBtn:hover {
    background-color: rgb(0, 140, 255);
}

.stats {
    background-color: rgb(0, 217, 255);
}